<!DOCTYPE html>
{% extends 'base.html' %}
{%  load bootstrap5 %}

{% block content %}
<div class="container">
   <h1>Confirm account removal</h1>
<div class="row" style="height:200px">
        <div class="col-md-8 userinfocol">
            <div id="userinfo">
                    <h5><span class="username">{{ user.username }}</span>, are you sure you want to delete your account?</h5>
                <hr style="border-top: 1px solid white;">
                <form method="POST">
                    {%  csrf_token %}
                <div class="stackedbutton"><button onclick="window.location='{% url 'accounts:userdetails' pk=user.pk %}'" type="button" class="btn btn-primary"><i class="fa-solid fa-times fa-1.5"></i> Cancel</button> </div>
                <br>
                <div class="stackedbutton"><button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash fa-1.5"></i> Delete</button> </div>
                </form>
            </div>


        </div>
        <div class="col-md-4 userinfocol" id="userphoto">
            <img id="photo_delete" src="{{ object.profile_pic.url }}">
        </div>



    </div>
</div>

{%  endblock %}
